<%= content_tag :div, class: "nested-fields flex my-4", data: { new_record: form.object.new_record?, object_id: form.object.id, target: "form.one_panel_item" } do %>

  <div class="md:flex md:items-center mt-auto w-1/4">
    <% if form.object.picture.attached? %>
      <div class="hidden relative overflow-hidden shadow border rounded h-20 w-20 flex place-items-center">
        <%= image_tag('icons/upload.svg', alt: "upload icon", class:"p-3") %>
        <%= form.file_field :picture, class: "input-uploader rounded", data: { target: "form.meal_picture_input", action: "form#preview_meal_picture", picture_id: form.object.id } %>
      </div>
      <div class="flex place-items-center">
        <img class="h-20 w-20 shadow border rounded cursor-pointer" data-target="form.picture_meal_item" data-picture-id="<%= form.object.id %>" src="<%= cl_path(form.object.picture.key) %>" ></img>
        <%= image_tag "icons/delete.svg", class: "ml-2 h-5 w-5 cursor-pointer", data: { action: "click->form#delete_item_picture", picture_id: form.object.id } %>
      </div>

    <% else %>
      <div class="relative overflow-hidden shadow border rounded h-20 w-20 flex place-items-center">
        <%= image_tag('icons/upload.svg', alt: "upload icon", class:"p-3") %>
        <%= form.file_field :picture, class: "input-uploader rounded", data: { target: "form.meal_picture_input", action: "form#preview_meal_picture", picture_id:"NEW_MENU_ITEM" } %>
      </div>
      <%= image_tag "icons/delete.svg", class: "ml-2 h-5 w-5 cursor-pointer", data: { action: "click->form#delete_item_picture", picture_id:"NEW_MENU_ITEM", target:"delete_icon_meal_picture" } %>

      <div class="hidden place-items-center">
        <img class="h-20 w-20 shadow border rounded cursor-pointer" data-target="form.picture_meal_item" data-picture-id="NEW_MENU_ITEM"></img>
        <%= image_tag "icons/delete.svg", class: "ml-2 h-5 w-5 cursor-pointer", data: { action: "click->form#delete_item_picture", picture_id:"NEW_MENU_ITEM" } %>
      </div>
    <% end %>
  </div>

  <div class="ml-6">
    <div class="flex flex-row items-center border-b border-dashed">
      <%= form.text_field :name, class: "w-9/12", data: { reflex: "keyup->Form#print_item", item:"NEW_MENU_ITEM" }, placeholder: "meal name" %>

      <div class="w-3/12 ml-2 relative">
        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
          <span class="text-gray-500 sm:text-sm sm:leading-5">$</span>
        </div>
        <%= form.text_field :price, class: "appearance-none w-full py-2 pl-6 pr-3 text-gray-700 leading-tight", data: { reflex: "keyup->Form#print_price", item:"NEW_MENU_ITEM" } %>
      </div>

      <%= image_tag "icons/delete.svg", class: "ml-2 h-5 w-5 cursor-pointer", data: { action: "click->form#delete_item" } %>
    </div>

    <%= form.hidden_field :id, value: form.object.id%>
    <%= form.text_field :description, class: "mt-2 w-full border-b border-dashed", data: { reflex: "keyup->Form#print_description", item:"NEW_MENU_ITEM" }, placeholder: "description" %>
  </div>

<%= form.hidden_field :_destroy %>

<% end %>

<hr class="border-gray-300 w-full mx-auto">

