<div class="container mx-auto">

  <%= form_with(model: @restaurant) do |form| %>

    <div class="grid md:grid-cols-2 mt-10" data-controller="form">
      <div class=" md:mx-8 xl:mx-20 text-left">
      <span class="text-muted" data-target="autosave.status"></span>

        <!-- RESTAURANT  -->
        <h1 class="text-xl">1. Edit Menu</h1>
        <hr class="my-3 w-full">
        <%= render 'form_restaurant', form: form %>

        <!-- CATEGORY  -->
        <h1 class="text-xl">2. Edit Categories</h1>
        <hr class="my-3 w-full">

        <div data-target="form.template_wrapper">
          <%= form.fields_for :categories do |form_category| %>
            <% if form_category.object.name %>
              <%= render "fields_category", form: form_category %>
              <template data-target="form.template_item_field" data-category-id="<%=form_category.object.object_id%>">
                <%= form_category.fields_for :items, Item.new, child_index: 'NEW_MENU_ITEM' do |item| %>
                  <%= render "fields_item", form: item %>
                <% end %>
              </template>
            <% end %>
          <% end %>

          <!-- template - CATEGORY INPUT field  -->
          <template data-target="form.template_category_field">
            <%= form.fields_for :categories, Category.new, child_index: 'NEW_CATEGORY' do |category| %>
              <%= render "fields_category", form: category %>
              <!-- template - ITEM INPUT field  -->
              <template data-target="form.template_item_field">
                <%= category.fields_for :items, Item.new, child_index: 'NEW_MENU_ITEM' do |item| %>
                  <%= render "fields_item", form: item %>
                <% end %>
              </template>
            <% end %>
          </template>

          <div data-target="form.links_category">
            <%= button_tag "Add Category", type: 'button', class: "text-link", data: { action: "click->form#add_category", index: "1" } %>
          </div>
        </div>

        <!-- template - CATEGORY PRINT TAB    -->
        <template data-target="form.template_tab_print">
          <li class="mr-1" data-target="tabs.tab" data-action="click->tabs#change">
            <a class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="#" data-target="form.one_tab" id="tab-NEW_CATEGORY">Lunch</a>
          </li>
        </template>

        <!-- MENU ITEMS  -->
        <h1 class="text-xl mt-5">3. Edit Menu Items</h1>
        <hr class="my-3 w-full">

        <!-- template - PANEL - MENU ITEMS    -->
        <template data-target="form.template_panel_print">
          <div class="hidden py-2 border-b" data-target="tabs.panel form.one_panel" id="NEW_CATEGORY">
            <%= button_tag "Add Item", type: 'button', class: "text-link mt-5", data: { action: "click->form#add_item", category: "NEW_CATEGORY" } %>
          </div>
        </template>


        <!-- dipslay tabs --->
        <div data-controller="tabs" data-tabs-active-tab="-mb-px border-l border-t border-r rounded-t" data-target="form.list_panels">
          <ul class="list-reset flex border-b overflow-auto" data-target="form.list_tabs">
            <% @restaurant.categories.each do |category| %>
              <% if category.name %>
                <li class="mr-1" data-target="tabs.tab" data-action="click->tabs#change">
                  <a class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="#" data-target="form.one_tab" data-tab-id="<%= category.object_id %>" id="tab-<%= category.object_id %>"><%= category.name %></a>
                </li>
              <% end %>
            <% end %>
          </ul>

          <!-- dipslay panel items --->
          <%= form.fields_for :categories, child_index: 'NEW_CATEGORY', include_id: false do |form_category| %>
            <%if form_category.object.name %>
              <div class="hidden py-2 border-b" data-target="tabs.panel form.one_panel" data-panel-id="<%= form_category.object.object_id  %>">
                <%= form_category.fields_for :items do |form_item| %>
                  <%= render "fields_item", form: form_item %>
                <% end %>

                <%= button_tag "Add Item", type: 'button', class: "text-link mt-5", data: { action: "click->form#add_item", category: "NEW_CATEGORY", category_id: form_category.object.id  } %>
              </div>
            <%end %>
          <%end %>


        </div>
        <%= form.submit "Create QR Menu", class: "btn-teal hover:bg-transparent hover:text-teal-700 mt-4", data: { "disable-with": "Saving..." }%>
      </div>


      <!-- PHONE -->
      <section class="flex justify-center p-10">

        <div class="iphone-x overflow-scroll sticky" style="top:50px;">
          <%= render "restaurants/phone/blackbox" %>

          <div class="px-5">
            <!-- iphone: restaurant NAME and LOGO  -->
            <div class="flex flex-row pt-8 pl-3 items-center space-x-3 h-32">
              <% if @restaurant.picture.attached? %>
                <img class= "logo-phone shadow p-1 rounded-full" data-target="form.logo_output" src="<%= cl_path(@restaurant.picture.key) %>">
              <% else %>
                <%= image_tag("icons/photo.svg", class: "logo-phone shadow p-1 rounded-full", data: { target: "form.logo_output" }) %>
              <% end %>
              <div class="text-2xl" id="restaurant-name"><%= @restaurant.name %></div>
            </div>

            <%= render "restaurants/phone_templates/category" %>

            <div class="pl-5 flex space-x-2 overflow-auto" data-target="form.categories">
              <% if @restaurant.categories %>
                <% @restaurant.categories.each do |category| %>
                  <% if category.name %>
                    <div class="mt-3 text-lg" data-target="form.one_category" id="category-<%= category.object_id %>" data-category-id="<%= category.object_id %>"><%= category.name %></div>
                  <% end %>
                <% end %>
              <% end %>
            </div>

            <hr class="mt-5 border-gray-300 w-48 mx-auto">
            <%= render "restaurants/phone_templates/item" %>

            <div data-target="form.items">
            <% @restaurant.categories.each do |cat| %>

                <div>
                  <h2 class="text-lg font-semibold border-b py-3 shadow-category" data-target="form.phone_header" data-category-id="<%= cat.object_id %>" id="header-<%= cat.object_id %>"><%= cat.name.capitalize %></h2>
                  <% cat.items.each do |item| %>
                  <div class="flex space-x-2 my-4 justify-between" id="item-<%=item.object_id %>" data-target="form.one_item" data-category-id="<%= item.category.object_id %>" data-item-id="<%= item.object_id %>">
                   <% if item.picture.attached? %>
                    <img class="h-20 w-20 rounded" data-target="form.picture_meal_item" data-picture-id="<%= item.object_id %>" src="<%= cl_path(item.picture.key) %>"></img>
                  <% end %>
                    <div class="w-full <%= "pl-4" if !item.picture.attached? %>">
                      <p class="font-semibold flex justify-between">
                        <span id="item-name-<%=item.object_id %>"><%= item.name %></span>
                        <span id="item-price-<%=item.object_id %>">€<%= item.price %></span>
                      </p>
                      <small id="item-description-<%=item.object_id %>"><%= item.description %></small>
                    </div>
                  </div>

                  <% end %>
                </div>
            <% end %>

          </div>

        </div>
      </div>
    </section>

  </div>

<% end %>

</div>

