<div class="container mx-auto my-32 flex flex-col items-center justify-center">

  <%= form_with(url: "/send-email-qr-code", method: "post", remote: true) do %>
    <div class="mb-4">
      <span class="text-lg">Hey, there!</span>
      <p class="text-md text-gray-700">Fill in your email to <span class="underline font-semibold">edit</span> your QR code later.</p>
    </div>
    <div class="flex flex-col md:flex-row">
      <%= email_field_tag(:email, @restaurant.email, placeholder:"example@gmail.com", class:"w-full md:w-64 form-input transition duration-150 ease-in-out sm:text-sm sm:leading-5") %>
      <%= hidden_field_tag(:id, @restaurant.id) %>
      <%= submit_tag("Send email  with QR Code", class:"btn-teal hover:bg-transparent hover:text-teal-700") %>
    </div>
  <% end %>

  <div class="text-center mt-16" data-controller="print">
    <h1 class="font-semibold text-lg mb-1">Scan Restaurant QR Code</h1>
    <%= link_to "or view here", restaurant_url(@restaurant), class:"text-link" , target: "_blank" %>
    <div class="my-6" data-target="print.qr_svg">
      <%= @restaurant.qr_code.html_safe %>
    </div>
    <div class="mb-8">
      <%= link_to "Edit QR-Menu", edit_restaurant_url(@restaurant), class:"btn-teal hover:bg-transparent hover:text-teal-700"  %>
      <%= button_tag "Print", class:"btn-teal hover:bg-transparent hover:text-teal-700", style:"line-height:normal", data: { action: "print#print_qr" } %>
    </div>
  </div>

</div>
